h1{
    border: 2px solid black;
    width: 5.00%;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin-left: 50%;
    
}