.container{
    width: 600px;
    height: 400px;
    background-color: pink;
    display: grid;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns:105px 105px 105px ; */
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:10px;
    
    
}
.grid{
    width: 145px;
    height: 100px;
    background-color: goldenrod;
    border: 2px solid black;
    text-align: center;
}
.gridC{
    grid-column-start:1 ;
    grid-column-end: 4;
}